body {
    font-family: 'Special Elite', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    /*background-color: #373B44;*/
    height: 100vh;

}
#hero{
    background-image: url("/Guitarissimo/Assets/Img/tree-top.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#trunk{
    background-image: url("/Guitarissimo/Assets/Img/tree-trunk.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#root{
    background-image: url("/Guitarissimo/Assets/Img/tree-roots.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.videoWrap{
    text-align: center;
    width: 100%;
    vertical-align: middle;
    height: auto;
}

.videoWrap iframe{
    width: 100%;
}