body {
    font-family: 'Special Elite', serif;
    font-size: 20px;
    /*text-shadow: 4px 4px 4px #aaa;*/
}
section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    /*background-color: #373B44;*/
    height: 100vh;

}
#hero{
    background-image: url("/Guitarissimo/Assets/Img/tree-top.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%;
}

#trunk{
    background-image: url("/Guitarissimo/Assets/Img/tree-trunk.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: 100%;

    text-align: center;

}
#trunk .container{
    margin-top: 8%;
}
#trunk .section-header{
    background-color: rgba(169, 169, 169, 0.65);
    border-radius: 10px;
}

#root{
    background-image: url("/Guitarissimo/Assets/Img/tree-roots.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%;

    text-align: center;
}

#root .section-header{
    background-color: rgba(169, 169, 169, 0.65);
    border-radius: 10px;
}

.videoWrap{
    text-align: center;
    width: 100%;
    height: auto;
}

.videoWrap iframe{
    width: 100%;
}

#credit {
    margin: 1%;
    background-color: white;
}

#back {
    background-color: white;
}

#back .section-header{
    background-color: rgba(169, 169, 169, 0.65);
    text-align: center;

}

a {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }


a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }


.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}

.btn.btn-rounded {
    border-radius: 50px
}

.btn-facebook {
    background: #3b579d;
    color: #ffffff 
}

.btn-youtube {
    background: #e52d27;
    color: #ffffff
}
.btn-instagram {
    background: #dc4a38;
    color: #ffffff
}
.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
    background: #c21d17;
    color: #ffffff
}
.btn-instagram:hover,
.btn-instagram:focus {
    background: #bf3322;
    color: #ffffff
}
.position {
  position: center;
}
